body {
    background-color: rgb(12, 45, 57);
  }
  
  a {
    color: white;
    text-align: center;
  }
  
  dd {
    margin-left: 1em;
    }

  p {
    font-family: verdana;
    font-size: 20px;
  }

  .img1{
    position:relative;
    top:10px;
    left:10px; 
  }
  .text1{
    position:relative;
    top:10px;
    left:10px; 
  }

